.category-item-expenses {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem 0 0 0;
}

.category-item-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
}

.change-budget-button {
	border-radius: 5px;
	background-color: var(--neutral100);
	color: var(--darkText);
	border: 1px solid var(--darkText);
	height: 2rem;
	padding: 0rem 0.5rem;
}

.expense {
	display: flex;
	flex-direction: column;
}

/* ------- Progress Bar ------- */
.category-item-info-bar {
	background-color: var(--neutral200);
	border-radius: 0.5rem;
	height: 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 100%;
}

.category-item-info-bar-fill {
	background-color: var(--blue500);
	border-radius: 0.5rem;
	height: 1rem;
	width: 100%;
}
