# Shared
.env
.env.*
dist/
coverage/
.DS_Store
*.log
/build
/out
*.tsbuildinfo
next-env.d.ts

# GO
/breeze.api/bin/
/breeze.api/obj/
/breeze.api/.vscode/
*.exe
*.test
*.out
*.coverprofile
/breeze.api/.env
/breeze.api/.env.*

# React | Typescript | Next.js
/breeze.web/.next/
/breeze.web/node_modules/
/breeze.web/.env
/breeze.web/.env.*
/breeze.web/.eslintcache
/breeze.web/.turbo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/breeze.web/.vscode/
/breeze.web/out/
/breeze.web/build/
/breeze.web/.vercel
/breeze.web/coverage
/breeze.web/next-env.d.ts
/breeze.web/*.tsbuildinfo
