.breeze-box {
    display: flex;
    flex-direction: column;
    background: var(--neutral100);
    color: var(--darkText);
    border-radius: .5rem;
    padding: 0 1rem 1rem 1rem;
}

.breeze-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    cursor: pointer;
}

.breeze-input {
    width: 10ch;
    height: 40px;
    border: 1px solid back;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--neutral100);
    margin-bottom: 10px;
}

.breeze-text {
    text-wrap: nowrap;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--darkText);
    margin-bottom: 0.5em;
}
