.breeze-box {
    display: flex;
    flex-direction: column;
    background: var(--neutral100);
    color: var(--darkText);
    border-radius: .5rem;
    padding: 0 1em 1em 1em;
}

.breeze-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    align-self: center;
    cursor: pointer;
}

.breeze-input {
    width: 10ch;
    height: 2.5em;
    border: none;
    border-radius: .25em;
    padding: 0 .5em;
    font-size: 1em;
    box-sizing: border-box;
    color: var(--darkText);
    background-color: var(--background);
}

.breeze-input:focus {
    outline: none;
    color: var(--focusText);
}

.breeze-text {
    text-wrap: nowrap;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--darkText);
    margin: 0;
}
