.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    height: 100vh;
    gap: 1rem;
}

.date {
    color: var(--darkText);
    background-color: var(--neutral100);
    width: auto;
    border-radius: .75rem;
    padding: 1rem;
    font-weight: 600;
}

.item-container{
    color: var(--darkText);
    background-color: var(--neutral100);
    width: 250px;
    border-radius: .75rem;
    padding: 1rem;
    font-weight: 600;
}

.item-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: .75rem;
}

.expense-button{
    background-color: var(--neutral100);
    color: var(--darkText);
    border: 2px solid var(--blue500);
    font-size: 1.75rem;
    border-radius: .75rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.income-button{
    background-color: var(--neutral100);
    color: var(--darkText);
    border: 2px solid var(--blue500);
    font-size: 1.75rem;
    border-radius: .75rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}